.login-header {
    .login-form-group {
        margin-bottom: 10px;
    }

    .signup-message-header {
        margin-top: 30px;

        .signup-message-button {
            margin-left: 10px;
        }
    }
}
  