.home-page {
  min-height: 100vh;

  .mini-char-overview {
    margin-top: 2rem;
  }

  .showcase-container {
    margin-bottom: 20px;

    .card-container {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      margin-bottom: 15px;

      .card {
        align-items: center;
        justify-content: center;

        .card-img {
          max-height: 64px;
          max-width: 64px;
          margin-top: 10px;
        }

        .explore-map-cardimg {
          max-height: 128px;
          max-width: 128px;
        }

        .cardbody {
          padding: 15px;

          .cardtitle-wrapper {
            display: block;
            margin-bottom: .75rem;

            .cardtitle {
              display: inline;
            }

            .cardsubtitle {
              display: inline;
              color: #5a6268;
              margin-left: 10px;
            }

          }

          .cardtitle {
            font-weight: bold;
          }

          .cardsubtitle {
            color: #5a6268;
          }


          .cardtext-color {
            color: #000000;
          }

          .cardbutton {

          }
        }
      }
    }
  }
}