.rpg-navbar {

  .nav-brand {
    color: #ffffff;
    text-decoration: none;
  }

  .nav-link {
    color: #ffffff;
    &:hover {
      color: #d0d0d0
    }
  }

  .log-out-button {
    padding: 0;
  }
}